<!DOCTYPE html>
{% extends 'clothes/base.html' %}
{% block content %}

<div class="reg">
  <form method="post" action="{% url 'clothes:Login' %}">
    {% csrf_token %}

    <table class="reg_form">
    <tr>
    <td><label for="userid">ユーザー名:</label></td>
    <td><input type="text" name="userid"></td>
    <td><label for="password">パスワード：</label></td>
    <td><input type="password" name="password"></td>
    </tr>
    </table>
    <input type="submit" class="btn" value="ログイン">
 </form>
</div>
   <p class="message">アカウントをお持ちですか？：
   <a href="{% url 'clothes:register' %}">アカウントを作成</a>
   </p>
{% endblock %}

