<!DOCTYPE html>
{% extends 'clothes/base.html' %}
{% block content %}

<header>
    <a href="{% url 'clothes:home' %}" class="back">トップに戻る</a>
</header>

<div class="register">
    {% if id is not None %}
    <h2>投稿されました</h2>
    {% endif %}
</div>
<div class="upload">
    <h2>本日の服装を投稿する</h2>
    <form action="{% url 'clothes:post_image' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ region }}
        <p>{{ upload_form.as_p }}</p>
        <p><input type="submit" value="投稿する"></p>
    </form>
</div>
{% endblock %}